// В этом файле должны быть стили для БЭМ-блока image, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.image {

  $block-name: &; // #{$block-name}__element {}

  &__direction {
    width: 8px;
    height: 13px;
    stroke: #9B9CA0;
    stroke-width: 1.5;
    fill: transparent;
  }
}
