// В этом файле должны быть стили для БЭМ-блока calculate-promo, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.calculate-promo {

  $block-name: &; // #{$block-name}__element {}
  max-width: 830px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 21px 50px 0px 50px;

  &__top {
    text-align: center;
    margin-bottom: 32px;
  }

  &__title {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__hidden {
    display: none;
    padding-bottom: 40px;

    form {
      margin: 0;
    }
  }

  &__row {
    @include make-row;
    justify-content: space-between;
    margin-bottom: 11px;

    @include media-breakpoint-up(md) {
      margin-bottom: 11px;
    }
  }

  &__description {
    margin-right: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    padding: 17px 15px 7px 5px;
  }

  &__content {
    // @include make-col(4);
    width: 320px;
    flex: 0 0 320px;
    padding: 0px 24px 0px 5px;

    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
      width: 100%;
    }
  }

  &__btn {
    margin: 0 auto;
    margin-top: 19px;
  }

  &__calculate {
    text-align: center;
  }



  &.active {
    background: #EDF4F8;

    #{$block-name} {
      &__hidden {
        display: block;
      }
    }
  }
}
