// В этом файле должны быть стили для БЭМ-блока calculate-promo, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.calculate-promo {

  $block-name: &; // #{$block-name}__element {}
  // max-width: 830px;
  margin: 0 auto;
  border-radius: 4px;
  // margin-left: -10px;
  // margin-right: -10px;
  padding: 20px 20px 0px 20px;
  
  @include media-breakpoint-down(md) {
    margin-left: -10px;
    margin-right: -10px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 21px;
    padding-left: 60px;
    padding-right: 41px;
    max-width: 830px;
  }

  &__top {
    text-align: center;
    margin-bottom: 34px;

    @include media-breakpoint-up(md) {
      // margin-bottom: 32px;
    }
  }

  &__title {
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    display: inline;
    font-size: 13px;
    line-height: 160%;

    @include media-breakpoint-up(md) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__hidden {
    display: none;
    padding-top: 2px;
    padding-bottom: 40px;

    @include media-breakpoint-up(md) {
      padding-top: 0;
    }

    form {
      margin: 0;
    }
  }

  &__row {
    justify-content: space-between;
    margin-bottom: 21px;

    @include media-breakpoint-up(md) {
      @include make-row;
      margin-bottom: 6px;
      flex-wrap: nowrap;
      align-items: end;
    }
  }

  &__description {
    margin-right: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 8px;
    margin-top: 0 !important;

    @include media-breakpoint-up(md) {
      font-size: 14px;
      line-height: 130%;
      padding: 13px 15px 7px 5px;
      margin-bottom: 0;
    }
  }

  &__content {
    

    @include media-breakpoint-up(md) {
      padding: 0px 24px 0px 5px;
      width: 320px;
      flex: 0 0 320px;
    }

    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
      width: 100%;
    }
  }

  &__btn {
    display: block;
    
    margin: 0 auto;
    margin-top: 9px;
    
    @include media-breakpoint-down(md) {
      // margin: 0 auto;
      // display: block;
    }
    @include media-breakpoint-up(md) {
      margin-top: 19px;
    }
  }

  &__calculate {
    text-align: center;
  }

  &.active {
    background: #EDF4F8;

    #{$block-name} {
      &__hidden {
        display: block;
      }
    }
  }
}
