// В этом файле должны быть стили для БЭМ-блока team-promo, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.team-promo {

  $block-name: &; // #{$block-name}__element {}
  padding: 55px 0px 0px 0px;
  text-align: center;

  @include media-breakpoint-up(md) {
    padding-top: 150px;
    text-align: left;
  }

  &__title {
    margin-bottom: 24px;

    @include media-breakpoint-up(md) {
      margin-bottom: 53px;
    }
  }
  
  &__content {
    margin-bottom: 18px;

    @include media-breakpoint-up(md) {
      @include make-col(8);
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 0;
    }

    p {
      font-weight: normal;
      font-size: 15px;
      line-height: 23px;
      color: #252528;
      opacity: 0.8;

      @include media-breakpoint-up(md) {
        font-size: 18px;
        line-height: 150%;
      }
    }
  }

  &__img {
    height: 253px;
    position: relative;
    margin: 22px -10px 0px -10px;
    
    @include media-breakpoint-up(md) {
      height: auto;
      margin-top: 55px;
      margin-left: -20px;
      margin-right: -2px;
      margin-bottom: -1px;
    }

    img {
      max-width: none;
      height: 100%;
      position: absolute;
      top: 0px;
      transform: translate(-50%, 0);
      left: 50%;

      @include media-breakpoint-up(md) {
        width: 100%;
        height: auto;
        position: relative;
        max-width: 100%;
        transform: none;
        left: auto;
        top: auto;
      }
    }
  }

  &__row {
    @include media-breakpoint-up(md) {
      @include make-row;
    }
  }

  &__quote {
    padding-left: 50px;

    @include media-breakpoint-up(md) {
      @include make-col(4);
      padding-right: 15px;
      padding-left: 50px;
    }
  }
}
