// В этом файле должны быть стили для БЭМ-блока team-promo, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.team-promo {

  $block-name: &; // #{$block-name}__element {}
  padding: 150px 0px 0px 0px;

  &__title {
    margin-bottom: 53px;
  }
  
  &__content {
    p {
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: #252528;
      opacity: 0.8;
    }
  }

  &__img {
    margin: 58px -2px -1px -20px;

    img {
      width: 100%;
    }
  }
}
