// В этом файле должны быть стили для БЭМ-блока search-result, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search-result {

  $block-name: &; // #{$block-name}__element {}
  
  &__input {
    margin-bottom: 10px;

    @include media-breakpoint-up(md) {
      margin-bottom: 42px;
    }
  }

  &__info {
    padding: 12px 10px 16px 26px;
    font-weight: 500;

    @include media-breakpoint-up(md) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 28px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }

    &__text {
      font-size: 15px;
      line-height: 22px;
      color: #252528;
      margin-bottom: 10px;

      @include media-breakpoint-up(md) {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 0;
      }
    }

    &__count {
      font-size: 15px;
      line-height: 22px;
      color: #97A0B2;

      @include media-breakpoint-up(md) {
      }
    }
  }

  &__list {
    margin-top: 9px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 31px 10px 0px 10px;
    border-top: 1px solid rgba(151, 160, 178, 0.3);
    counter-reset: section;
    list-style: none;

    @include media-breakpoint-up(md) {
      padding-top: 51px;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 40px;

      @include media-breakpoint-up(md) {
        padding-left: 30px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        position: absolute;
        top: -2px;
        left: 0;
        counter-increment: section;
        content: "" counter(section) ".";
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        color: #515153;

        @include media-breakpoint-up(md) {
          font-size: 17px;
          line-height: 25px;
        }
      }
    }

    a {
      text-decoration: none;
      
      &:hover {
        #{$block-name} {
          &__card {
            &__title {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &__card {
    &__title {
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      color: #6CA3CB;
      margin-bottom: 10px;

      @include media-breakpoint-up(md) {
        font-size: 17px;
        line-height: 25px;
      }
    }

    &__text {
      p {
        margin: 0;
        font-weight: normal;
        font-size: 15px;
        line-height: 23px;
        color: #515153;

        @include media-breakpoint-up(md) {
          font-size: 16px;
          line-height: 24px;
          opacity: 0.8;
        }
      }
    }
  }

  &__not-found {
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    color: #6CA3CB;
    padding-left: 25px;
    padding-right: 25px;

    @include media-breakpoint-up(md) {
      font-size: 18px;
      line-height: 27px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__page {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    @include media-breakpoint-up(md) {
      margin-top: 90px;
    }
  }
}
