// В этом файле должны быть стили для БЭМ-блока breadcrumb, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.breadcrumb {

  $block-name: &; // #{$block-name}__element {}
  padding: 0;
  padding-left: 10px;
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
  color: $color-ocean;
  margin-bottom: 13px;

  @include media-breakpoint-up(md) {
    padding-left: 0;
    margin-bottom: 30px;
  }

  li {
    a {
      font-size: 15px;
      font-weight: 500;
    }
  }

  &-item {
    &.active {
      color: $color-lighter;
    }
  }

  &-item + &-item {
    padding-left: 4px;

    &:before {
      color: $color-ocean;
      font-size: 14px;
      padding-right: 4px;
    }
  }
}
