// В этом файле должны быть стили для БЭМ-блока promo-head, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.promo-head {

  $block-name: &; // #{$block-name}__element {}
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);


  @include media-breakpoint-down(md) {
    padding-bottom: 8px;
  }

  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    border-bottom: 1px solid rgba(151, 160, 178, 0.3);
    padding-bottom: 30px;
    margin-bottom: 21px;

    @include media-breakpoint-up(sm) {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
      flex: 0 0 370px;
      margin-right: 48px;
      padding-bottom: 40px;
      margin-bottom: 31px;
      border-bottom: none;
      border-right: 1px solid rgba(151, 160, 178, 0.3);
      margin-bottom: 0;
    }
  }

  &__content {
    padding-left: 20px;

    @include media-breakpoint-up(sm) {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
      padding: 40px 20px 39px 0px;
    }

    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      margin-bottom: 21px;

      @include media-breakpoint-up(lg) {
        font-size: 15px;
        margin-bottom: 31px;
      }
    }

    ul, ol {
      font-weight: normal;
      font-size: 15px;
      line-height: 150%;
      padding-right: 50px;

      @include media-breakpoint-up(lg) {
        font-size: 16px;
      }

      li {
        margin-bottom: 13px;

        @include media-breakpoint-down(md) {
          padding-left: 15px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__img {
    margin-bottom: 19px;
    
    @include media-breakpoint-down(sm) {
      width: 288px;
    }
    @include media-breakpoint-up(sm) {
      margin-bottom: 33px;
    }
  }

  &__description {
    padding-left: 20px;

    @include media-breakpoint-up(sm) {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
      padding-left: 50px;
      padding-right: 20px;
    }
  }

  &__name {
    margin-bottom: 9px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 14px;
    }
  }

  &__position {
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;

    @include media-breakpoint-up(lg) {
    }
  }

  &__title {
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 10px;

    @include media-breakpoint-up(lg) {
      font-size: 17px;
    }
  }
}
