// В этом файле должны быть стили для БЭМ-блока cards, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card {

  $block-name: &; // #{$block-name}__element {}
  background-color: $color-dust;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  position: relative;
  

  &:hover {
    background-color: $color-ocean;
    cursor: pointer;

    #{$block-name} {
      &-title {
        text-decoration: underline;
      }
    }
  }
  
  &-body {
    padding: 34px 23px 34px 23px;
    color: white;
    min-height: 170px;

    @include media-breakpoint-up(md) {
      max-height: none;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 46px;
    }
  }

  &-subtitle {
    font-family: $proximaNova-light;
    font-size: 16px;
    line-height: 130%;
    opacity: 0.7;
    margin-bottom: 21px;

    @include media-breakpoint-up(md) {
      margin-bottom: 31px;
    }
  }

  &-text {
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    color: white;

    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
  }

  &__icon {
    float: right;
    
    &--img1 {
      height: 80px;
      margin-bottom: -16px;

      @include media-breakpoint-up(md) {
        margin-bottom: -16px;
        height: auto;
      }
    }

    &--img2 {
      height: 50px;
      margin-top: 13px;

      @include media-breakpoint-up(md) {
        margin-top: 0;
        height: auto;
      }
    }

    &--img3 {
      margin-top: 23px;
      height: 40px;

      @include media-breakpoint-up(md) {
        margin-top: 0px;
        height: auto;
      }
    }

    &--img4 {
      height: 58px;
      margin-top: 34px;

      @include media-breakpoint-up(md) {
        margin-top: 0;
        height: auto;
      }
    }

    &--img5 {
      height: 32px;

      @include media-breakpoint-up(md) {
        height: auto;
      }
    }

    &--img6 {
      @include media-breakpoint-up(md) {
      }
    }
  }

  &.active {
    background-color: $color-ocean;
    cursor: pointer;
  }

  &--promo {
    background-color: $color-space;

    &:hover {
      #{$block-name} {
        &-text {
          text-decoration: none;
          color: white;
        }
      }
    }

    #{$block-name} {
      &-body {
        padding: 26px 18px 21px 20px;

        @include media-breakpoint-up(md) {
          padding: 36px 37px 29px 40px;
        }
      }
      &-text {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 1px;
        
        @include media-breakpoint-down(md) {
          line-height: 150%;
        }
        @include media-breakpoint-up(md) {
          font-size: 18px;
          margin-bottom: 35px;
        }
      }
      &__icon {
        float: right;
        width: 60px;

        @include media-breakpoint-up(md) {
          width: 90px;
        }
      }
    }
  }

  &--company {
    background-color: $color-river;
    border-color: $color-river;

    @include media-breakpoint-up(md) {
      min-height: 200px;
    }

    &:hover {
      #{$block-name} {
        &-text {
          text-decoration: none;
          color: white;
        }
      }
    }

    #{$block-name} {
      &-body {
        min-height: 160px;
        padding: 29px 18px 10px 19px;

        @include media-breakpoint-up(md) {
          min-height: auto;
          padding: 29px 30px 15px 30px;
        }
      }
      &-text {
        font-family: $proximaNova-regular;
        color: $color-space;
        font-size: 18px;
        line-height: 130%;
        margin-bottom: 0;

        @include media-breakpoint-up(md) {
        }
      }
      &__icon {
        position: absolute;
        right: 19px;
        bottom: 21px;

        @include media-breakpoint-up(md) {
          right: 30px;
        }
      }
    }
  }

  &--light {
    background-color: white;
    border: 1px solid rgba(151, 160, 178, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    // font-family: $montserrat;

    &:hover {
      #{$block-name} {
        &-subtitle {
          color: rgba(255, 255, 255, 0.7);
        }
        &-title {
          color: white;
        }
        &-text {
          color: white;
        }
      }
    }

    #{$block-name} {
      &-body {
        // padding: 31px 24px 34px 24px;
        @include media-breakpoint-down(md) {
          padding: 31px 24px 23px 24px;
        }
        @include media-breakpoint-up(md) {
          // padding: 34px 23px 30px 23px;
          padding-bottom: 27px;
        }
      }
      &-subtitle {
        color: #97A0B2;
        margin-bottom: 23px;
      }
      &-title {
        font-weight: bold;
        color: #252528;
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 10px;
        font-family: $montserrat;
        
        @include media-breakpoint-down(md) {
        }
        @include media-breakpoint-up(md) {
          font-size: 17px;
          line-height: 25px;
        }
      }
      &-text {
        display: none;
        color: rgba(81, 81, 83, 0.8);
        font-size: 18px;
        line-height: 27px;

        @include media-breakpoint-up(md) {
          display: block;
          
        }
      }
    }
  }
}