// В этом файле должны быть стили для БЭМ-блока cards, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card {

  $block-name: &; // #{$block-name}__element {}
  background-color: $color-dust;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  position: relative;
  

  &:hover {
    background-color: $color-ocean;
    cursor: pointer;

    #{$block-name} {
      &-text {
        // text-decoration: underline;
      }
    }
  }
  
  &-body {
    padding: 34px 30px 46px 30px;
    color: white;
  }

  &-subtitle {
    font-family: $proximaNova-regular;
    font-size: 16px;
    line-height: 130%;
    opacity: 0.7;
    margin-bottom: 31px;
  }

  &-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: white;
  }

  &__icon {
    float: right;
    
  }

  &--promo {
    background-color: $color-space;

    &:hover {
      #{$block-name} {
        &-text {
          text-decoration: none;
          color: white;
        }
      }
    }

    #{$block-name} {
      &-body {
        padding: 36px 37px 29px 40px;
      }
      &-text {
        font-size: 18px;
        margin-bottom: 35px;
        font-weight: 500;
      }
      &__icon {
        float: right;
      }
    }
  }

  &--company {
    background-color: $color-river;
    border-color: $color-river;
    min-height: 200px;

    &:hover {
      #{$block-name} {
        &-text {
          text-decoration: none;
          color: white;
        }
      }
    }

    #{$block-name} {
      &-body {
        padding: 29px 30px 15px 30px;
      }
      &-text {
        font-family: $proximaNova-regular;
        color: $color-space;
        font-size: 18px;
        line-height: 130%;
      }
      &__icon {
        position: absolute;
        right: 30px;
        bottom: 10px;
      }
    }
  }
}