// В этом файле должны быть стили для БЭМ-блока navbar, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.navbar {

  $block-name: &; // #{$block-name}__element {}
  padding: 0px 0px 0px 0px;

  &-brand {
    @include media-breakpoint-up(xl) {
      margin-right: 90px;
    }

    img, svg {
      height: 60px;
      
      @include media-breakpoint-up(xl) {
        height: auto;
      }
    }
  }

  &-nav {
    font-size: 16px;
    margin-right: 20px;

    @include media-breakpoint-up(xl) {
      margin-right: auto !important;
    }

    li {
      margin-right: 15px;

      @include media-breakpoint-up(xl) {
        margin-right: 30px;
      }

      &:last-child {
        margin-right: 0px;
      }
    }

    .nav-link {
      color: $dark;
      font-weight: 600;
      text-decoration: none;
    }

    &--mobile {
      li {
        margin-right: 0;
        width: 100%;
        margin-bottom: 9px;
      }

      .nav-link {
        color: white;
      }

      #{$block-name} {

      }
    }
  }

  &-expand-lg {
    #{$block-name} {
      &-collapse {
        justify-content: flex-end;
        display: none !important;
        
        @include media-breakpoint-up(xl) {
          display: flex !important;
          // justify-content: flex-end;
        }
      }
    }
  }
}