// В этом файле должны быть стили для БЭМ-блока accordion-promo, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.accordion-promo {

  $block-name: &; // #{$block-name}__element {}
  margin-bottom: 9px;

  &__title {
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #6CA3CB;
    border-bottom: 1px dashed;
    text-decoration: none;
    
  }

  &__btn {
    width: 100%;
  }

  &__description {
    padding: 11px 0px 1px 0px;

    p {
      font-size: 15px;
      line-height: 140%;
      margin-bottom: 10px;
    }
  }
}
