// В этом файле должны быть стили для БЭМ-блока start-work, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.start-work {

  $block-name: &; // #{$block-name}__element {}
  padding: 50px 0px 50px 0px;
  text-align: center;
  background-color: $color-space;
  color: white;

  @include media-breakpoint-up(md) {
    padding-top: 150px;
    padding-bottom: 146px;
  }

  &__title, .h2, .h3 {
    color: white;
    margin-bottom: 89px;

    @include media-breakpoint-down(md) {
      font-size: 22px;
      line-height: 27px;
      margin-bottom: 30px;
    }
  }

  p {
    color: white;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    margin: 0;

    @include media-breakpoint-up(md) {
      font-weight: 400;
      font-size: 20px;
    }
  }

  &__step {
    margin-bottom: 41px;
    padding-left: 2px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 86px;
      display: flex;
      align-items: center;
      padding-left: 0;
    }

    &__block {
      display: flex;
      // width: 330px;
      text-align: left;
      align-items: center;
      margin-bottom: 21px;

      @include media-breakpoint-up(lg) {
        width: 33%;
        margin-right: 40px;
        margin-bottom: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__icon {
      width: 74px;
      flex: 0 0 74px;
      margin-right: 25px;

      @include media-breakpoint-up(lg) {
        width: 80px;
        flex: 0 0 80px;
        margin-right: 33px;
      }
    }

    &__description {
    }
  }

  &__active {
    .btn {
      min-width: 300px;
    }
  }
}
