// В этом файле должны быть стили для БЭМ-блока quote, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.quote {

  $block-name: &; // #{$block-name}__element {}
  display: inline;
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  position: relative;
  color: $color-space;

  @include media-breakpoint-up(md) {
    font-size: 18px;
    line-height: 25px;
    padding-right: 30px;
  }

  &:before, &:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 19.22px;
    background-size: contain;
    background-position: center;

    @include media-breakpoint-up(md) {
      width: 27.78px;
      height: 23.22px;
    }
  }

  &:before {
    background-image: url(../img/quote-left.png);
    left: -32px;
    top: -2px;

    @include media-breakpoint-up(md) {}
  }
  &:after {
    background-image: url(../img/quote-right.png);
    bottom: 0px;
    right: -28px;

    @include media-breakpoint-up(md) {
      right: -3px;
    }
  }
}
