// В этом файле должны быть стили для БЭМ-блока promo-block, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.promo-block {

  $block-name: &; // #{$block-name}__element {}
  margin-bottom: 54px;
  
  @include media-breakpoint-up(md) {
    margin-bottom: 143px;
  }

  &__title {
    margin-bottom: 24px;
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
      margin-bottom: 50px;
    }
  }

  &--trust {
    padding-bottom: 65px;
    margin-bottom: 0px;

    @include media-breakpoint-up(md) {
      margin-bottom: 120px;
    }
  }
}
