// В этом файле должны быть стили для БЭМ-блока clients, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.clients {

  $block-name: &; // #{$block-name}__element {}
  
  &__row {
    
    @include media-breakpoint-up(md) {
      @include make-row;
    }
  }

  &__block {
    margin-bottom: 20px;
    
    @include media-breakpoint-up(md) {
      @include make-col(6);
      padding: 0px 15px;
      margin-bottom: 30px;
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
  }

  &__item {
    height: auto;
    background: #FFFFFF;
    border: 1px solid rgba(151, 160, 178, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);

    @include media-breakpoint-up(md) {
      height: 100%;
    }

    &__header {
      height: 180px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid rgba(151, 160, 178, 0.3);
      padding: 10px 20px;
    }

    &__body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 98px;
      text-align: center;
      padding: 10px 40px;
      
      @include media-breakpoint-up(md) {
        
      }

      p {
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        color: $color-space;
        margin: 0;

        @include media-breakpoint-up(md) {

        }
      }
    }

    &--active {
      background: $color-river;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
      min-height: 278px;
      display: flex;
      align-items: center;

      @include media-breakpoint-up(md) {
        max-height: none;
      }

      .clients__item {
        &__header {

        }
        &__body {
          width: 100%;
          height: auto;
          text-align: left;
          flex-direction: column;
          padding-left: 49px;
          padding-right: 49px;

          @include media-breakpoint-up(md) {
            height: 100%;
          }

          p {
            width: 100%;
            text-align: left;
            font-weight: 500;
            font-size: 22px;
            line-height: 29px;
            color: #252528;
          }
        }
        &__img {

        }
        &__h1 {
          width: 100%;
          font-weight: bold;
          font-size: 64px;
          line-height: 70px;
          color: $color-ocean;
          margin-bottom: 2px;

          small {
            display: block;
            font-size: 23px;
            line-height: 25px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
